*{
   margin: 0; 
   padding: 0;
   box-sizing: 0;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 10px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    /*right: 0;*/
    animation: pipe-animation 2s;
}

@keyframes pipe-animation{
    from{
        right: 0;
    }
    to{
        right: 100%;
    }
}